<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class='outer'>
    <div class='middle'>
      <div class='inner'>

        <h1> New Menu Item </h1>

        <form action="{{url_for('new_menu_item', restaurant_id=restaurant_id )}}" method = 'POST'>

          <dl>
            <dt>Name:</dt>
            <dd><input type='text' size='30' name='name'></dd>
            <dt>Description:</dt>
            <dd><input type='text' size='30' name='description'></dd>
            <dt>Price:</dt>
            <dd><input type='text' size='30' name='price'></dd>
            <dt>Course:</dt>
            <dd><input type ='radio' name='course' value='Appetizer'checked >Appetizer</dd>
            <dd><input type ='radio' name='course' value='Entree'>Entree</dd>
            <dd><input type ='radio' name='course' value='Main Course'>Main Course</dd>
            <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>
            <dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
          </dl>

        </br><input type='submit' value='Create'>

      </form>
      <hr/>
    </div>
  </div>
</div>
</body>
</html>
